*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 90vw;
}

.container > .panel{
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    flex:0.4;
    padding:10px;
    margin:10px;
    position:relative;
    cursor: pointer;
    height: 90vh;
    transition: flex .5s cubic-bezier(0.17, 0.885, 0.32, 1.275);
}
.container > .panel > h3 {
    /*text shadow parameters: 上移下移blur*/
    text-shadow:0px 0px 3px #fff;;
    color:#fb5f0b;
    font-size: 25px;
    text-align: center;
    line-height: 90vh;
    z-index: 100;
}

.container > .panel.active {
    flex: 1;
}
