*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --color--: #cacacb;
    --color_active--: #ef7823;
    --font_color--: #000000;
    --default_color--: #fff;
}
body, html{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container{
    text-align: center;
    width: 100%;
}

